<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love it or Leave it</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/love-it/foods">Fav Foods</a>
        <a href="/love-it/animals">Fav Animals</a>
        <a href="/leave-it/movies">Bad Movies</a>
        <a href="/leave-it/products">Bad Products</a>
    </nav>
    <%- body %>
</body>
</html>